  <body>
    <h1 id="titleh1">Jason's Dev Profile</h1>

      <div class="container">
        <div class="main-section">

          <nav>
            <div class="nav-wrapper">
              <ul class="nav">
                <a href="https://github.com/JZaitz?tab=repositories">
                  <li><div class-="icons" id="github"></div><span></span></li>
                  <li><div class="icons" id="ruby"></div><span>Ruby</span></li>
                  <li><div class="icons" id="rails"></div><span>Rails</span></li>
                  <li><div class="icons" id="javascript"></div><span>Javascript</span></li>
                  <li><div class="icons" id="html"></div><span>HTML5</span></li>
                  <li><div class="icons" id="css"></div><span>CSS3</span></li>
                  <li><div class="icons" id="git"></div><span>Git</span></li>
                  <li><div class="icons" id="sql"></div><span>SQL</span></li>
                  <li><div class-="icons" id="resume"></div><span></span></li>
                </a>
              </ul>
            </div> <!-- nav wrapper -->
          </nav>
          <header>

<!--


              -->
              <p id="bio">I recently completed a Ruby on Rails full stack web development course, have an MIS degree and worked for 2 years as Unit Computing Manager and Systems Support Specialist on the Enrollment Information Systems Team (web, database, hardware, requirements and systems support needs). I also have extensive experience in pharmaceutical, medical and manufacturing sales/account management, technology and business analysis. Additionally, I worked as the Information Systems Specialist (ISS) Trainer at Bayer. Well versed in TDD, DRY, object oriented programming and SDLC. Seeking a position to further develop, challenge and grow my technical skill set.</p>
              <p id="bio2">Check out my code below!</p>

          </header>

        </div> <!--main section -->

        <a href="https://github.com/JZaitz"><!--
       --><div class="columns one"></div><!--
     --></a><!--
     --><a href="https://github.com/JZaitz"><!--
     --><div class="columns two"></div><!--
     --></a><!--
     --><a href="https://github.com/JZaitz"><!--
     --><div class="columns three"></div><!--
     --></a><!--
     --><a href="https://github.com/JZaitz"><!--
     --><div class="columns four"></div><!--
     --></a>

         <footer>
           <div class="left">
             <p>
                <a href="http://store.apple.com/us">Contact by Phone</a> (1-800-555-5555), visit my <a href="https://github.com/JZaitz">Github Page</a>, or check out my resume <a href="https://www.dice.com/">on Dice.com</a>.
             </p>
             <p class="last-line">
               Copyright © 2018 Jason Inc. All rights reserved.
             </p>

           </div><!--
        --><div class="right">
             <ul>

               <li>
                 <a href="https://github.com/JZaitz">Github</a>
               </li>
               <li>
                 <a href="https://www.dice.com/">Resume</a>
               </li>
               <li>
                 <a href="https://www.dice.com/">Business Analysis</a>
               </li>
               <li>
                 <a href="https://www.dice.com/">Account Management</a>
               </li>
               <li>
                 <a href="https://github.com/JZaitz">Technology</a>
               </li>
               <!--<li>
                 <a href="https://www.dice.com/">Account Management</a>
               </li>  -->

             </ul>
           </div>
         </footer>
      </div> <!-- container -->

    </body>