<h1 id="titleh1">Jason's Dev Profile</h1>
<body>
    <div class="container">
      <div class="main-section">

        <nav>
          <div class="nav-wrapper">
            <ul class="nav">
              <li><div class-="icons" id="logo"></div></li>
              <li><div class="icons" id="store"></div>Ruby</li>
              <li><div class="icons" id="mac"></div>Rails</li>
              <li><div class="icons" id="ipod"></div>Javascript</li>
              <li><div class="icons" id="iphone"></div>HTML5</li>
              <li><div class="icons" id="ipad"></div>CSS3</li>
              <li><div class="icons" id="itunes"></div>Git</li>
              <li><div class="icons" id="support"></div>SQL</li>
              <li><div class-="icons" id="logo"></div></li>
            </ul>
          </div> <!-- nav wrapper -->
        </nav>
        <header>

            <a href="http://www.apple.com/your-verse/">
              <img src="images/your_verse_title_small_2x.png" alt="What will your verse be?" width="980" height="104">
              <img id="second-image" src="images/your_verse_subhead_small_2x.png" alt="Everyone has something to share. See how people are using iPad in their unique ways to add to the world’s story." width="980" height="82">
            </a>
            <div class="your-verse">
              <a href="http://www.apple.com/your-verse/#video-your-verse">
                <img id="underline-image" src="images/cta_your_verse_27pt_2x.png" alt="Watch the “Your Verse” film and explore the stories" width="980" height="64">
              </a>
            </div>

        </header>

      </div> <!--main section -->

      <a href="http://www.apple.com/iphone-5s/"><!--
     --><div class="columns one"></div><!--
   --></a><!--
   --><a href="http://www.apple.com/iphone-5c/"><!--
     --><div class="columns two"></div><!--
   --></a><!--
   --><a href="http://www.apple.com/30-years/"><!--
     --><div class="columns three"></div><!--
   --></a><!--
   --><a href="http://www.apple.com/supplier-responsibility/"><!--
     --><div class="columns four"></div><!--
   --></a>

       <footer>
         <div class="left">
           <p>
             Shop the <a href="http://store.apple.com/us">Apple Online Store</a> (1-800-555-5555), visit an <a href="http://www.apple.com/retail/">Apple Retail Store</a>, or find a <a href="http://www.apple.com/buy/">reseller</a>.
           </p>
           <p class="last-line">
             Copyright © 2018 Jason Inc. All rights reserved.
           </p>
           <ul class="last-line">
             <li>
               <a href="http://www.apple.com/legal/">Terms Of Use</a>
             </li>
             <li>
               <a href="http://www.apple.com/legal/privacy/">Privacy Policy</a>
             </li>
           </ul>
         </div><!--
      --><div class="right">
           <ul>
             <li>
               <a href="http://www.apple.com/sitemap/">Site map</a>
             </li>
             <li>
               <a href="http://www.apple.com/hotnews/">Hot News</a>
             </li>
             <li>
               <a href="http://www.apple.com/rss/">RSS Feeds</a>
             </li>
             <li>
               <a href="http://www.apple.com/pr/">Media Info</a>
             </li>
             <li>
               <a href="http://www.apple.com/environment/">Environment</a>
             </li>
             <li>
               <a href="http://www.apple.com/jobs/">Job Opportunities</a>
             </li>
             <li>
               <a href="http://www.apple.com/contact/">Contact Us</a>
             </li>
             <li>
               <a href="">
                 <img src="images/usa_2x.png" id="icon" alt="Choose your country or region" title="Choose your country or region" width="16" height="16"><!--
            --></a>
             </li>
           </ul>
         </div>
       </footer>
    </div> <!-- container -->
<!--
    <header>
      <a href="http://www.apple.com/your-verse/">
        <img src="images/your_verse_title_small_2x.png" alt="What will your verse be?" width="980" height="104">
        <img id="second-image" src="images/your_verse_subhead_small_2x.png" alt="Everyone has something to share. See how people are using iPad in their unique ways to add to the world’s story." width="980" height="82">
      </a>
      <div class="your-verse">
        <a href="http://www.apple.com/your-verse/#video-your-verse">
          <img id="underline-image" src="images/cta_your_verse_27pt_2x.png" alt="Watch the “Your Verse” film and explore the stories" width="980" height="64">
        </a>
      </div>
    </header>
-->
  </body>
  
  