// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.title {
    text-align: center;
    font-family: Tahoma, Geneva, sans-serif;
}

.mobile {
  display: none;
}

#fullname {
  color: white;
  text-align: center;
    font-family: Tahoma, Geneva, sans-serif;
  /* color: #32154f; */
}

#fullstack {
  color: white;
  text-align: center;
    font-family: Tahoma, Geneva, sans-serif;
  /* color: #32154f; */
}
/*
 *****************************************
 * Section Header =container
 *****************************************
*/

/* body {
    background-image: url("./images/IMG_1086.JPG");
    width: 100%;
    height: 100%;
}
*/
body {
  background: url(image_path('IMG_3740.JPG'));
  /* background: url(./images/IMG_1086.JPG); */
  background-repeat: no-repeat;
  /* background-size: 100% 68%; */
  background-size: 100% 79%;

}


body {
  /*border: 1px solid red;*/
  margin: auto;
  min-width: 1048px;
  max-width: 1440px;
}

.container {
  width: 100%;
}

/*
 *****************************************
 * Section Header =navbar
 *****************************************
*/

.nav-wrapper {
  font-family: Tahoma, Geneva, sans-serif;
  margin: auto;
  width: 1070px;
  padding-top: 15px;
}

.nav {
  padding: 0;
  margin: 0;
}

.icons {
  margin: auto;
  margin-top: 10px;


}
 span:hover {
   color: blue;
 }

#github {
  background: url('') no-repeat -71px -3px;
  width: 31px;
  height: 6px;
  margin-top: 3px;
}

#resume {
  background: url('') no-repeat -71px -3px;
  width: 35px;
  height: 19px;
  margin-top: 3px;
}

#ruby {
  background: url('') no-repeat -64px -38px;
  width: 31px;
  height: 12px;
}

#rails {
  background: url('') no-repeat -68px -68px;
  width: 24px;
  height: 12px;
}

#javascript {
  background: url('') no-repeat -67px -98px;
  width: 26px;
  height: 12px;
}

#html {
  background: url('') no-repeat -60px -128px;
  width: 41px;
  height: 12px;
}

#css {
  background: url('') no-repeat -68px -158px;
  width: 24px;
  height: 13px;
}

#python {
  background: url('') no-repeat -62px -188px;
  width: 37px;
  height: 12px;
}

#sql {
  background: url('') no-repeat -56px -218px;
  width: 37px;
  height: 12px;
}

#search {
  width: 37px;
  height: 12px;
}

/*#search input {
  background-color: inherit;
  height: 20px;
  width: 106px;
  margin: 6px 0 0 17px;
  border-radius: 10px;

} */

.nav li {
  text-align: center;
  color: white;
  padding-bottom: 15px;
  display: inline-block;
  width: 110px;
  height: 32px;
  vertical-align: top;
  /* IE10+ */
  background-image: -ms-linear-gradient(bottom, #8F8B8D 0%, #787878 50%, #5E5E5E 51%, #707070 100%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(bottom, #8F8B8D 0%, #787878 50%, #5E5E5E 51%, #707070 100%);
  /* Opera */
  background-image: -o-linear-gradient(bottom, #8F8B8D 0%, #787878 50%, #5E5E5E 51%, #707070 100%);
  /* Webkit (Safari/Chrome 10) */
/*  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #8F8B8D), color-stop(50, #787878), color-stop(51, #5E5E5E), color-stop(100, #707070));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(bottom, #8F8B8D 0%, #787878 50%, #5E5E5E 51%, #707070 100%);
  /* W3C Markup */
  background-image: linear-gradient(to top, #8F8B8D 0%, #787878 50%, #5E5E5E 51%, #707070 100%);
  border: 1px solid #5E5F60;
}

.nav li:first-of-type {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.nav li:last-of-type {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
/*
 *****************************************
 * Section Header =main-background
 *****************************************
*/


.main-section {
  height: 538px;
  position: relative;
  overflow: hidden;
  /*background-color: blue;*/
  background: url('../images/your_verse_hero.jpeg') no-repeat center -698px;
}

header {
  text-align: center;
  margin-top: 105px;
}

#second-image {
  margin-top: -17px;
}

.your-verse {
  margin-top: 30px;
  height: 32px;
  overflow: hidden;
}

#underline-image:hover {
  margin-top: -32px;

}
#bio {
  font-family: Tahoma, Geneva, sans-serif;
  /* font-family: "Courier New", Courier, monospace;  */
  font-size: 1.1em;
  color: white;
  text-align: center;
  position: relative;
  top: 160px;
  margin-left: 60px;
  margin-right: 60px;
  display: none;
}

#bio2:hover {
  color: blue;
  font-size: 1.5em;
}
#bio2 {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 1.6em;
  color: white;
  text-align: center;
  position: relative;
  top: 230px;
  margin-left: 60px;
  margin-right: 60px;

}

#bio3 {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 1.6em;
  color: white;
  text-align: center;
  position: relative;
  top: 190px;
  margin-left: 60px;
  margin-right: 60px;
  display: none;
}



/*
 *****************************************
 * Section Header =columns
 *****************************************
*/

.columns {
  position: relative;
  display: inline-block;
  overflow: hidden;
  height: 200px; 
  width: 25%;
  border-radius: 16px;
  border-top: 6px solid white;
  border-right: 3px solid white;
          box-sizing: border-box;
     -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0px auto;
}
.columns:hover {
  border: solid;
  border-color: blue;
}
.columns a {
  text-decoration: none;
}

.one {
  background: url(image_path('IMG_2417.png')) no-repeat center 0;
  background-size: 364px 200px;
}

.two {
  background: url(image_path('IMG_1260.PNG')) no-repeat center 0;
  background-size: 364px 200px;
}
.three {
  background: url(image_path('IMG_1407.PNG')) no-repeat center 0;
  background-size: 364px 200px;
}

.four {
  border-right: none;
  background: url(image_path('IMG_9401.JPG')) no-repeat center 0;
  background-size: 364px 200px;
}

/*
 *****************************************
 * Section Header =footer
 *****************************************
*/

p, ul {
  margin: 8px 0;
}

/* @media only screen and (max-width: 800px) { */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    
    .mobile:hover {
      color: blue;
      font-size: 1.5em;
    }
    .mobile {
      display: block;
      float: left;
      color: white;
      font-family: Tahoma, Geneva, sans-serif;
    }
    h1 {
      float: left;
    }
    h2 {
      clear: both;
      float: left;
    }
    nav {
      display: none;
    }
    #bio2 {
      display: none;
    }
   



}

footer {
  width: 954px;
  /* height: 10%; */
  height: 100px;
  margin: 8px auto 20px auto;

}

.left, .right {
  display: inline-block;
  width: 460px;
  vertical-align: top;
  color: #6e6e6e;
  font-size: .9em;
  line-height: 1.2;
}

 .left a, .right a {
  position: relative;
  color: #08c;
  text-decoration: none;
}

.left a:hover, .right a:hover {
  text-decoration: underline;
}

.left {
/*  border: 1px solid red;*/
  margin-right: 15px;
}

.right {
/*  border: 1px solid black;*/
  margin-left: 15px;
}

footer ul {
  padding: 0;
}

footer li {
  display: inline;
}

footer li:after {
  content: '|';
}

footer li:last-child:after {
  content: '';
}

#icon {
  position: absolute;
  z-index: 1;
  top: -3px;
  left: 4px;
}

.last-line {
  display: inline-block;
}

